.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 150px;
    height: calc(100% - 60px);
    background-color: #ffffff;
    box-shadow: 2px 0 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    z-index: 999;
}
.carlert {
    position: fixed;
    top: 70px;
    left: 170px;
    z-index: 1001;
    max-width: 300px;
    padding: 12px 16px;
    background-color: #442327;
    color: #f5c6cb;
    border-left-color: #e99b9b;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    display: none;
    font-size: 1.95rem;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.cardbu {
    position: fixed;
    left: 160px;
    width: 190px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.cardbu .nav-item {
    width: 100%;
    text-align: center;
    margin-left: 3px;
}
.cardbu .nav-item .icon-img {
    margin-left: 20px;
    width: 24px;
    height: 24px;
}
.cardbu.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.dark-mode .cardbu {
    background: #333;
    color: white;
}
.dark-mode .cardbu .nav-item, .dark-mode .card-setting .nav-item {
    background: #333;
    color: white;
    margin-left: 0;
}
.dark-mode .sidebar {
    background-color: #333;
    box-shadow: 2px 0 6px rgba(255, 255, 255, 0.1);
}
.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;        
    width: 70%;               
    padding: 14px 16px;
}
.nav-item:hover {
    background-color: #f5f5f5;
}
.nav-item .icon-img {
    width: 20px;          
    height: 20px;          
    margin-right: 10px;   
}
.dark-mode .nav-item:hover {
    background-color: #444;
    border-radius: 8px;
}
@media (max-width: 767px) {
    .sidebar {
        width: 60px;
        padding: 10px 0;
        align-items: center;
        top: 50%;
        height: auto;
        transform: translateY(-50%);
    }
    .cardbu {
        width: 50px;
        left: 70px;
        top: 10px;
    }
    .cardbu .nav-item {
        width: 100%;
    }
    .cardbu .nav-item .icon-img {
        width: 24px;
        height: 24px;
        margin-left: 0;
    }
    .nav-item {
        justify-content: center;
        width: 80%;
        padding: 12px 0;
    }
    .nav-item .icon-img {
        width: 24px;
        height: 24px;
        margin-right: 0;
    }
    .nav-item span {
        display: none;
    }
}
.card-setting {
    position: fixed;
    left: 160px;
    width: 160px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.card-setting .nav-item {
    padding-left: 40px;
    width: 100%;
}
.card-setting.hidden {
    display: none;
}
.card-setting.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.dark-mode .card-setting {
    background: #333;
    color: white;
}